<nav class="header__nav" id="navbar" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;">
	<ul class="header__list">
		<li class="header__item">
			<a href="/" class="header__link" >Home</a>
		</li>
		<li class="header__item">
			<a href="/database" class="header__link">Query</a>
		</li>
		<li class="header__item">
			<a href="/events" class="header__link">Platform Events</a>
		</li>
	</ul>
</nav>
